.gradle
/local.properties
.idea/caches
.idea/libraries
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/modules.xml
.idea/codeStyles
.idea/gradle.xml
.idea/render.experimental
build/
*.iml
.DS_Store
*.apk
*.aab
*.jks
*.keystore
/captures
.externalNativeBuild
.cxx
.gradle-tooling
.gradle/
.navigation/
app/build/
gradle-wrapper.jar # Dies ist hier, damit es NICHT hochgeladen wird!
!gradle/wrapper/gradle-wrapper.properties # Behalte die properties-Datei, aber nicht die jar
